nav {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0;
  margin: 0;
  padding: 10px 10%;
  background-color: white;
  color: black;
  height: $navbarHeight;;
  .adder-container {
    display: inline-block;
    width: 75%;
    line-height: 24px;
    vertical-align: middle;
  }
  .icon-container {
    line-height: 24px;
    vertical-align: middle;
    font-size: 36px;
    margin-right: 20px;
  }
  button {
    background-color: inherit;
    border: none;
  }
}

@media(min-width: $maxWidthMobile + 1) {
  nav {
    display: none;
  }
}
