nav {
  display: block;
  padding: 0;
  margin: 0;
  padding: 10px 10%;
  height: 60px;
  .adder-container {
    display: inline-block;
    width: 75%;
    line-height: 24px;
    vertical-align: middle;
  }
  .icon-container {
    line-height: 24px;
    vertical-align: middle;
    font-size: 36px;
    margin-right: 20px;
  }
}

@media(min-width: $minDesktopWidth) {
  nav {
    display: none;
  }
}
