$weatherInfoColour: lighten($grey, 50%);

@media all and (min-width: $maxWidthMobile + 1) {
  .home .city {
    margin-left: $listWidth;
  }
  .header {
    padding: 64px 72px;
  }
  .icon-container {
    padding: 36px 56px;
  }
  .weather-info {
    .main {
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
      padding: 36px 82px;
      justify-content: space-evenly;
      align-items: flex-start;
      align-content: space-around;
      .row {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: space-around;
        align-items: flex-start;
      }
      .column {
        box-sizing: border-box;
        flex-grow: 1;
        padding: 48px 24px;
        width: 275px;
        max-width: 450px;
      }
    }
  }
}

@media all and (max-width: $maxWidthMobile) {
  .header {
    padding: 36px 7%;
  }
  .weather-icon-container {
    padding: 72px 15%;
  }
  .main {
    padding: 0 5%;
    .column {
      padding-left: 3%;
      padding-right: 3%;
      padding-bottom: 48px;
      border-top: 1px solid $weatherInfoColour;
    }
  }
}

.city .weather-info {
  background-color: $darkBlue;
  color: $weatherInfoColour;
  font-weight: 200;
  min-height: 100%;
  .details {
    padding: 0 5px;
  }
  .label-container {
    label {
      color: darken($weatherInfoColour, 15%);
    }
    span {
      float: right;
    }
  }
};

.header {
  img {
    float: left;
  }
  h1, h2 {
    font-weight: 600;
    padding: 0;
    margin: 0;
  }
  h2 {
    margin-left: 60px;
  }
}
