$weatherInfoColour: lighten($grey, 50%);

@media(min-width: 1000px) {
  .home .city {
    margin-left: $listWidth;
  }
  .header {
    padding: 64px 72px;
  }
  .icon-container {
    padding: 36px 56px;
  }
  .weather-info {
    .main {
      clear: both;
      padding: 36px 48px;
      .column {
        display: inline-block;
        box-sizing: border-box;
        width: 23%;
        padding: 0 2%;
        margin: 0;
        vertical-align: top;
      }
    }
  }
}

@media(max-width: 700px) {
  .header {
    padding: 36px 7%;
  }
  .weather-icon-container {
    padding: 72px 15%;
  }
  .main {
    padding: 0 5%;
    .column {
      padding-left: 3%;
      padding-right: 3%;
      padding-bottom: 48px;
      border-top: 1px solid $weatherInfoColour;
    }
  }
}

.city .weather-info {
  background-color: $darkBlue;
  color: $weatherInfoColour;
  font-weight: 200;
  min-height: 100%;
  .details {
    padding: 0 5px;
  }
  .label-container {
    label {
      color: darken($weatherInfoColour, 15%);
    }
    span {
      float: right;
    }
  }
};

.header {
  img {
    float: left;
  }
  h1, h2 {
    font-weight: 600;
    padding: 0;
    margin: 0;
  }
  h2 {
    margin-left: 60px;
  }
}
