@import "city_list";
@import "weather_details";

.my-app-root {
  p {
    text-align: center;
  }
}

html, body, #react-root {
  height: 100%;
  padding: 0;
  margin: 0;
}

.home .city {
  margin-left: $listWidth + 1;
  padding: 36px;
}
