// Colours must come before other components
@import "colours";
// Sizes must come before components
@import "sizes";

@import "city_list";
@import "city_adder";
@import "weather_details";
@import "navbar";

.my-app-root {
  p {
    text-align: center;
  }
}

html, body, #react-root {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Avenir Next, Arial, sans-serif;
  font-size: 1.025em;
  background-color: $darkBlue;
  color: $weatherInfoColour;
}

.icon-container {
  display: inline-block;
}

@media all and (max-width: $maxWidthMobile) {
  .home {
    padding-top: $navbarHeight;
  }
}
